{% comment %}
  Vehicle Selector Dungdev - 037987224
{% endcomment %}
<div class="vehicle-selector">
  <div class="vehicle-field">
    <label>Year</label>
    <select name="properties[Year]" id="vehicle-year" form="{{ product_form_id }}" required>
      <option value="">Select Year</option>
      {% paginate shop.metaobjects.year.values by 300 %}
        {% assign years = shop.metaobjects.year.values | reverse %}
        {% for year in years %}
          <option value="{{ year.year }}">{{ year.year }}</option>
        {% endfor %}
      {% endpaginate %}
    </select>
  </div>

  <div class="vehicle-field">
    <label>Make</label>
    <select name="properties[Make]" id="vehicle-make" form="{{ product_form_id }}" required disabled>
      <option value="">Select Make</option>
      {% paginate shop.metaobjects.make.values by 1000 %}
        {% for make_obj in shop.metaobjects.make.values %}
          <option value="{{ make_obj.make }}" data-year="{{ make_obj.year.value.year }}">
            {{ make_obj.make }}
          </option>
        {% endfor %}
      {% endpaginate %}
    </select>
  </div>

  <div class="vehicle-field">
    <label>Model</label>
    <select name="properties[Model]" id="vehicle-model" form="{{ product_form_id }}" required disabled>
      <option value="">Select Model</option>
      {% paginate shop.metaobjects.model.values by 1500 %}
        {% for model_obj in shop.metaobjects.model.values %}
          {% assign model_year = model_obj.make.value.year.value.year %}
          <option value="{{ model_obj.model }}" data-make="{{ model_obj.make.value.make }}" data-year="{{ model_year }}">{{ model_obj.model }}</option>
        {% endfor %}
      {% endpaginate %}
    </select>
  </div>

  <div class="vehicle-field" id="trim-wrapper" style="display: none;">
    <label>Trim</label>
    <select name="properties[Trim]" id="vehicle-trim" form="{{ product_form_id }}" required disabled>
      <option value="">Select Trim</option>
      {% paginate shop.metaobjects.trim.values by 2000 %}
        {% for trim_obj in shop.metaobjects.trim.values %}
          {% assign trim_year = trim_obj.model.value.make.value.year.value.year %}
          <option value="{{ trim_obj.trim }}" data-model="{{ trim_obj.model.value.model }}" data-year="{{ trim_year }}">{{ trim_obj.trim }}</option>
        {% endfor %}
      {% endpaginate %}
    </select>
  </div>

  <div class="vehicle-field" id="cab-wrapper" style="display: none;">
    <label>Cab Size</label>
    <select name="properties[Cab Size]" id="vehicle-cab" form="{{ product_form_id }}" required disabled>
      <option value="">Select Cab Size</option>
      {% paginate shop.metaobjects.cab.values by 2000 %}
        {% for cab_obj in shop.metaobjects.cab.values %}
          {% assign cab_year = cab_obj.trim.value.model.value.make.value.year.value.year %}
          <option value="{{ cab_obj.cab }}" data-trim="{{ cab_obj.trim.value.trim }}" data-model="{{ cab_obj.trim.value.model.value.model }}" data-year="{{ cab_year }}">{{ cab_obj.cab }}</option>
        {% endfor %}
      {% endpaginate %}
    </select>
  </div>
</div>
